:host {
  background-color: #131313;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  @media screen and (max-width: 440px) {
    gap: 12px;
  }

  @media screen and (max-width: 380px) {
    gap: 10px;
  }
}

p {
  margin: 6px 0 0;

  @media screen and (max-width: 440px) {
    font-size: .9rem;
  }
  @media screen and (max-width: 380px) {
    font-size: .8rem;
  }
}

.icon-link {
  width: 30px;
  margin-top: 15px;
  margin-left: 0;
  color: rgba(255, 255, 255, .8);
}
.icon-link:hover {
  color: rgba(255, 255, 255, .5);
}

svg {
  max-width: 40px;
}
.sr-only {
  display: none;
}
