:host {
  display: flex;
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 768px) {
    height: 100svh;
  }
}

.hidden {
  display: none;
}

.mobile-hidden {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
