#top-bar {
  top: 0;
  width: 100%;
  padding: 6px 0px;
  background-color: #131313;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 14px;
  padding-right: 14px;

  a {
    color: white;
    text-decoration: none;
    :visited {
      text-decoration: none;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
}

.thwomp-ico-text {
  font-weight: 600;
  font-size: 1.7rem;
}
.thwomp-ico {
  margin: 10px;
  height: 35px;
  svg {
    width: 35px;
    height: 35px;
  }
}


#login-button {
  color: #131313;
  background-color: white;
  border: solid 1px #131313;
  padding: 8px;
  border-radius: 15px;
  transition: all .2s ease;
}

#login-button:hover {
  background-color: #131313;
  border: solid 1px white;
  color: white;
}
