<div class="hero-section">
  <h1 class="hero-heading">A Group Chat That's Easy to Hop Into</h1>
  <p>
    Built using WebSockets and WebRTC for live chat and P2P calls, perfect for fun and games with friends. The
    entire project is open source, so don't hesitate to check out the repo if you're interested in contributing or using
    the source as a launchpad🚀
  </p>

  <div class="hero-links">
  <a href="https://github.com/ryan0/thwomp-chat-backend" target="_blank" mat-stroked-button>
    View Source
  </a>
  <a href="https://rmiller.dev/" class="about-link" target="_blank" mat-flat-button >
    About the Developer
  </a>
  </div>
</div>

