:host {
  width: 250px;
  padding: 0 16px;
  flex-shrink: 0;
  background: #1e1e1e;

  @media screen and (max-width: 768px) {
    flex: auto;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
}

a:hover {
  background: #444444;
}
