<app-header></app-header>

<div id="main-content">
  <h1>Main Header</h1>
  <p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum primis porttitor ipsum eu ad nibh faucibus nec euismod.
    Quis dolor blandit iaculis hendrerit fames maximus? Habitant egestas fermentum posuere natoque; montes convallis
    netus. Penatibus eget cursus suscipit mus sociosqu. Aptent hac taciti nunc consequat nulla dignissim. Varius cursus
    eros suspendisse turpis ex imperdiet maximus.
  </p>

  <h2>Sub Heading</h2>
  <p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum primis porttitor ipsum eu ad nibh faucibus nec euismod.
    Quis dolor blandit iaculis hendrerit fames maximus? Habitant egestas fermentum posuere natoque; montes convallis
    netus. Penatibus eget cursus suscipit mus sociosqu. Aptent hac taciti nunc consequat nulla dignissim. Varius cursus
    eros suspendisse turpis ex imperdiet maximus.
  </p>
</div>

<app-footer></app-footer>
