.nav-wrapper {
  padding: 12px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.spacer {
  flex-grow: 1;
}

.fab-icon {
  color: rgba(255, 255, 255, 0.86);
  background-color: #272727;
  box-shadow: none;
}

.is-hidden {
  display: none;
}
